# Demonstration desktop entry file for Snapcrafters Template Plus
# Refer the Desktop Entry Specification on how to write this file:
# https://specifications.freedesktop.org/desktop-entry-spec
[Desktop Entry]
Version=1.0
Type=Application
Name=Bytecode Viewer
Comment=An advanced yet user friendly Java Reverse Engineering suite 
Exec=bytecode-viewer
Icon=${SNAP}/meta/gui/bcv-icon.200px.png
Categories=Development;Utility
